mixin modal(data)
    +el({
        class: 'modal',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    }).js-modal&attributes(attributes)
        +overlay({
            mix: 'modal__overlay active',
            js: 'modal-overlay'
        })
        .modal__dialog
            +button-close({
                mod: 'bg-primary',
                mix: 'modal__close',
                js: 'modal-close'
            })
            .modal__dialog-inner
                if data.heading
                    +el({
                        tag: 'h3',
                        class: 'modal__heading',
                        text: data.heading,
                    })
                if data.text
                    +el({
                        tag: 'p',
                        class: 'modal__text',
                        text: data.text,
                    })
                if data.video
                    iframe.modal__video.js-modal-video-iframe(id="player" width="640" height="360" )
                block
