extends ./templates/template

block vars
    - var pageTitle = 'ТД Время'
    - var main = false

block content
    main.content
        .content__wrap
            article
                h1 Заголовок h1
                p.
                    <b>Далеко-далеко</b> за словесными горами в стране, <strong>гласных и согласных живут</strong> гласных и согласных живут рыбные тексты.
                    Свой запятых, даль журчит заманивший, необходимыми эта по всей власти запятой за, курсивных великий
                    пор сих <i><b>жаренные скатился вопроса</b></i> мир точках рукопись. Но обеспечивает вопроса свой одна заманивший,
                    необходимыми вопрос <em>дороге проектах ты запятой</em> на берегу текстами рекламных последний.
                    Предупредила, текстов назад.
                h2 Заголовок h2
                p.
                    Далеко-далеко за <a href="#">словесными горами в стране</a>, гласных и согласных живут рыбные тексты.
                    Запятых рот, переулка, семь это рыбными маленькая но реторический, власти большого подзаголовок
                    рыбного парадигматическая родного предложения несколько по всей снова заголовок.
                h3 Заголовок h3
                p.
                    Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                    За, переулка там. Выйти, продолжил, встретил. Раз имени мир подпоясал не, но запятой
                    необходимыми если рекламных журчит эта пунктуация использовало решила семантика. Рыбными,
                    оксмокс силуэт толку от всех всеми маленькая он?
                h4 Заголовок h4
                p.
                    Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                    Свой запятых, даль журчит заманивший, необходимыми эта по всей власти запятой за, курсивных великий
                    пор сих жаренные скатился вопроса мир точках рукопись. Но обеспечивает вопроса свой одна заманивший,
                    необходимыми вопрос дороге проектах ты запятой на берегу текстами рекламных последний.
                    Предупредила, текстов назад.
                h5 Заголовок h5
                p.
                    Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                    Свой запятых, даль журчит заманивший, необходимыми эта по всей власти запятой за, курсивных великий
                    пор сих жаренные скатился вопроса мир точках рукопись.
                h6 Заголовок h6
                p.
                    Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                    Свой запятых, даль журчит заманивший, необходимыми эта по всей власти запятой за, курсивных великий
                    пор сих жаренные скатился вопроса мир точках рукопись.
                ul
                    li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                    li Далеко-далеко за словесными горами в стране.
                    li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Агентство деревни путь большой города за диких запятой жаренные домах.
                ol
                    li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                    li Далеко-далеко за словесными горами в стране.
                    li Далеко-далеко за словесными горами в стране, гласных и согласных живу
                table
                    tr
                        th
                            | Далеко-далеко за словесными горами в стране
                        th
                            | Далеко-далеко за словесными горами
                    tr
                        td
                            | Далеко-далеко за словесными горами в стране
                        td
                            | Далеко-далеко за словесными горами
                    tr
                        td
                            | Далеко-далеко за словесными горами в стране
                        td
                            | Далеко-далеко за словесными горами
                p.
                    Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                    Свой запятых, даль журчит заманивший, необходимыми эта по всей власти запятой за, курсивных великий
                    пор сих жаренные скатился вопроса мир точках рукопись.
                blockquote.
                    Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                    Проектах, языкового ее lorem залетают своего жизни всемогущая. Там возвращайся свою текстами живет,
            br
            //- +button({
            //-     text: 'Button',
            //-     mod: ['bg-primary', ],
            //-     type: 'submit',
            //- })
            //- br
            //- br
            //- +button({
            //-     text: 'Button',
            //-     mod: ['border-primary']
            //- })
            //- br
            //- br
            //- +button({
            //-     text: 'Button',
            //-     mod: ['bg-black']
            //- })
            //- br
            //- br
            //- +button({
            //-     text: 'Button',
            //-     mod: ['border-black']
            //- })
            //- br
            //- br
            //- +button({
            //-     text: 'Button',
            //-     mod: ['border-white']
            //- })
            //- br
            //- br
            //- +button({
            //-     text: 'Button',
            //-     mod: ['bg-disabled']
            //- })
            //- br
            //- br
            //- +button({
            //-     text: 'Button',
            //-     mod: ['border-disabled']
            //- })
            //- br
            //- br
            //- +button-w-circle({
            //-     mod: 'bg-black',
            //-     icon: 'star',
            //-     badge: '10',
            //- })
            //- br
            //- +button-w-circle({
            //-     mod: 'bg-white',
            //-     icon: 'star',
            //-     badge: '2',
            //- })
            //- br
            //- +circle({
            //-     mod: 'bg-white',
            //-     icon: 'star'
            //- })
            //- br
            //- +circle({
            //-     mod: 'bg-black',
            //-     icon: 'star'
            //- })
            //- br
            //- +social-link({
            //-     mod: 'border-black',
            //-     icon: 'fb',
            //-     title: 'Фейсбук'
            //- })
            //- br
            //- +social-link({
            //-     mod: 'bg-black',
            //-     icon: 'vk',
            //-     title: 'Вконтакте'
            //- })
            //- br
            //- +social-link({
            //-     mod: 'border-black',
            //-     icon: 'inst',
            //-     title: 'Инстаграм'
            //- })
            //- br
            //- +field-primary({
            //-     placeholder: 'text',
            //-
            //- })
            //- br
            //- +field-secondary({
            //-     placeholder: 'text',
            //-     mod: 'black',
            //- })
            //- br
            //- +checkbox-confirm ({
            //- })
            //- br
            //- br
            //- +checkbox({
            //-     text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, consequuntur dicta. Sapiente dignissimos soluta distinctio nemo doloribus, iste maxime pariatur.rtytr yrtyrty'
            //- })
            //- br
            //- +radio-button({
            //-     text: 'radiobutton',
            //-     name: 'radio',
            //-     value: 'value1',
            //-     checked: 'checked'
            //- })
            //- br
            //- +radio-button({
            //-     text: 'radiobutton',
            //-     name: 'radio',
            //-     value: 'value2',
            //- })
            //- br
            //- +link({
            //-     text: 'Lorem ipsum dolor',
            //-     mod: 'primary',
            //- })
