
block vars
    - var pageTitle = 'ТД Время'

block content
    main.content
        .content__wrap
            ul
                li
                    a(href="page-main.html") Главная
                li
                    a(href="components.html") Компоненты
                li
                    a(href="page-faq.html") Вопрос/ответ
                li
                    a(href="page-posts.html") Статьи
                li
                    a(href="page-posts-item.html") Статья
