
block vars
    - var pageTitle = 'ТД Время'

block content
    main.content
        .content__wrap
            ul
                li
                    a(href="page-main.html") Главная
                li
                    a(href="components.html") Компоненты
