extends ./templates/template

block vars
    - var pageTitle = 'ТД Время'
    - var pageId = 1

block content
    main.page-content.page-content--bg-light
        .page-content__wrap
            h1.page-content__heading Вопрос/ответ
            .dropdown-list.page-content__dropdown-list
                +dropdown({
                    mix: 'dropdown-list__item',
                    heading: 'Принцип работы производства',
                })
                    p.
                        Если не заострять свое внимание на отдельных деталях производства, то технология производства сигарет имеет следующие этапы:
                        специальный заранее высушенный табак поступает в станок для нарезки отдельных частей, после чего на выходе появляется готовый
                        продукт. Но теперь давайте рассмотрим все подробней. Сама машина для изготовления сигарет состоит из следующих частей:
                        отдел для сборки и установки фильтра, механизм для произведения вставки (воротник необходим для наполнения фильтра), агрегат
                        для заключительной полной сборки. Но естественно, на этом производство не заканчивается.
                +dropdown({
                    mix: 'dropdown-list__item',
                    heading: 'Восстановленный табак',
                })
                    p.
                        Если не заострять свое внимание на отдельных деталях производства, то технология производства сигарет имеет следующие этапы:
                        специальный заранее высушенный табак поступает в станок для нарезки отдельных частей, после чего на выходе появляется готовый
                        продукт. Но теперь давайте рассмотрим все подробней. Сама машина для изготовления сигарет состоит из следующих частей:
                        отдел для сборки и установки фильтра, механизм для произведения вставки (воротник необходим для наполнения фильтра), агрегат
                        для заключительной полной сборки. Но естественно, на этом производство не заканчивается.
                +dropdown({
                    mix: 'dropdown-list__item',
                    heading: 'Процесс изготовления сигареты',
                })
                    p.
                        Если не заострять свое внимание на отдельных деталях производства, то технология производства сигарет имеет следующие этапы:
                        специальный заранее высушенный табак поступает в станок для нарезки отдельных частей, после чего на выходе появляется готовый
                        продукт. Но теперь давайте рассмотрим все подробней. Сама машина для изготовления сигарет состоит из следующих частей:
                        отдел для сборки и установки фильтра, механизм для произведения вставки (воротник необходим для наполнения фильтра), агрегат
                        для заключительной полной сборки. Но естественно, на этом производство не заканчивается.
                +dropdown({
                    mix: 'dropdown-list__item',
                    heading: 'Особенности и отличия от крупных производств',
                })
                    p.
                        Если не заострять свое внимание на отдельных деталях производства, то технология производства сигарет имеет следующие этапы:
                        специальный заранее высушенный табак поступает в станок для нарезки отдельных частей, после чего на выходе появляется готовый
                        продукт. Но теперь давайте рассмотрим все подробней. Сама машина для изготовления сигарет состоит из следующих частей:
                        отдел для сборки и установки фильтра, механизм для произведения вставки (воротник необходим для наполнения фильтра), агрегат
                        для заключительной полной сборки. Но естественно, на этом производство не заканчивается.
                    p.
                        Если не заострять свое внимание на отдельных деталях производства, то технология производства сигарет имеет следующие этапы:
                        специальный заранее высушенный табак поступает в станок для нарезки отдельных частей, после чего на выходе появляется готовый
                        продукт. Но теперь давайте рассмотрим все подробней. Сама машина для изготовления сигарет состоит из следующих частей:
                        отдел для сборки и установки фильтра, механизм для произведения вставки (воротник необходим для наполнения фильтра), агрегат
                        для заключительной полной сборки. Но естественно, на этом производство не заканчивается.
                +dropdown({
                    mix: 'dropdown-list__item',
                    heading: 'Восстановленный табак',
                })
                    p.
                        Если не заострять свое внимание на отдельных деталях производства, то технология производства сигарет имеет следующие этапы:
                        специальный заранее высушенный табак поступает в станок для нарезки отдельных частей, после чего на выходе появляется готовый
                        продукт. Но теперь давайте рассмотрим все подробней. Сама машина для изготовления сигарет состоит из следующих частей:
                        отдел для сборки и установки фильтра, механизм для произведения вставки (воротник необходим для наполнения фильтра), агрегат
                        для заключительной полной сборки. Но естественно, на этом производство не заканчивается.
                +dropdown({
                    mix: 'dropdown-list__item',
                    heading: 'Процесс изготовления сигареты',
                })
                    p.
                        Если не заострять свое внимание на отдельных деталях производства, то технология производства сигарет имеет следующие этапы:
                        специальный заранее высушенный табак поступает в станок для нарезки отдельных частей, после чего на выходе появляется готовый
                        продукт. Но теперь давайте рассмотрим все подробней. Сама машина для изготовления сигарет состоит из следующих частей:
                        отдел для сборки и установки фильтра, механизм для произведения вставки (воротник необходим для наполнения фильтра), агрегат
                        для заключительной полной сборки. Но естественно, на этом производство не заканчивается.
        +form-feedback({
        })
