.section {
  &--bg-primary {
    background-color: color(primary);
    color: color(white);
  }

  &--bg-light {
    background-color: color(light);
  }
}

.section__wrap {
  @include wrapper;
  padding-top: get($y, small, size-50);
}

.section__heading {
  margin: 0;
  margin-bottom: 20px;

  &--center {
    text-align: center;
  }
}

@include respond-to(medium) {
  .section {

  }

  .section__wrap {
    @include wrapper;
    padding-top: get($y, medium, size-50);
  }

  .section__heading {
    margin-bottom: 50px;
  }

}

@include respond-to(large) {
  .section {

  }

  .section__wrap {
    @include wrapper;
    padding-top: get($y, large, size-50);
  }

  .section__heading {
    margin-bottom: 80px;
  }
}
