mixin head(data)
    -
        var title = pageTitle
        var description = 'Официальный дилер строительной техники в Респ. Башкортостан, Татарстан, Поволжье, Урале'
        var keywords = 'Строительная техника, Эскаваторы, Фронтальные погрузчики, Погрузчики вилочные, Погрузчики телескопические, Погрузчики с бортовым поворотом, Самосвалы Moxy, Перегружатели, Разрушители зданий, Техника для уборки помещений'

    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(content='IE=edge' http-equiv='X-UA-Compatible')
        //- Title
        title= title

        meta(name='description' content=description)
        meta(name='keywords' content=keywords)

        meta(name='format-detection' content='telephone=no')
        meta(name='format-detection' content='address=no')


        //- Styles
        link(rel='stylesheet' href='./styles/styles.css')
