include ./el.pug
include ./head.pug
include ./scripts.pug

include ./data/data-main-nav
include ./data/data-features
include ./data/data-news
include ./data/data-agency
include ./data/data-slider

include ../blocks/button/button.pug
include ../blocks/button-nav/button-nav.pug
include ../blocks/button-close/button-close.pug
include ../blocks/button-icon/button-icon.pug
include ../blocks/button-down/button-down.pug
include ../blocks/button-video/button-video.pug
include ../blocks/link/link.pug
include ../blocks/control/control.pug
include ../blocks/date/date.pug
include ../blocks/logo/logo.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/callback/callback.pug
include ../blocks/overlay/overlay.pug

include ../blocks/header/header.pug
include ../blocks/video-item/video-item.pug
include ../blocks/limit/limit.pug
include ../blocks/intro/intro.pug

include ../blocks/main-slider-item/main-slider-item.pug
include ../blocks/main-slider-button/main-slider-button.pug
include ../blocks/main-slider/main-slider.pug

include ../blocks/agency/agency.pug
include ../blocks/map-outline/map-outline.pug
include ../blocks/pin-item/pin-item.pug

include ../blocks/features-item/features-item.pug
include ../blocks/features/features.pug

include ../blocks/news-item/news-item.pug
include ../blocks/news/news.pug

include ../blocks/footer/footer.pug
include ../blocks/modal/modal.pug
