include ./include

block vars
    - var pageTitle = 'ТД Время'
    - var main = false

doctype html
html(lang="ru-RU")
    block head
        +head()
    body
        block icon
        block header
            if main
                +header({})
            if !main
                +page-header({
                    tag: 'header',
                })
        block content
        block footer
            +footer({})
        block modal
            +modal({
                js: 'callback-modal',
                heading: 'Заказать звонок',
                text: 'Заполните форму и наш специалист перезвонит Вам в ближайшее время'
            })
                +f({

                })
                    .modal__field-group
                        +field({
                            mix: 'modal__field',
                            icon: 'user',
                            mod:  ['w-icon', 'border-bottom'],
                            label: 'Ваше имя',
                            name: 'user',
                            required: 'true',
                            placeholder: 'Ваше имя'
                        })(aria-required='true', aria-invalid='false')
                        +field({
                            mix: 'modal__field',
                            icon: 'tel',
                            mod:  ['w-icon', 'border-bottom'],
                            label: 'Ваш телефон',
                            type: 'tel',
                            name: 'tel',
                            required: 'true',
                            placeholder: '+7 (___) ___-__-__'
                        })(aria-required='true', aria-invalid='false')
                    .modal__submit-wrap
                        +button({
                            type: 'submit',
                            mix: 'modal__submit',
                            mod: ['shadow', 'size-md'],
                            text: 'Отправить',
                        })
                    .modal__confirm-wrap
                        +checkbox({
                            mod: ['confirm'],
                            label: 'Даю согласие на обработку моих персональных данных',
                            checked: 'checked',
                            required: 'required',
                            mix: 'form-feedback__confirm',
                        })
        block video
        block scripts
            +scripts()
