mixin goods-item(data)
    +el({
        class: 'goods-item',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +sticker({
            mix: 'goods-item__sticker-top-left',
            text: 'Новинка'
        })
        +circle({
            mix: 'goods-item__icon-top-right',
            mod: 'bg-white',
            icon: 'star',
        })
        +el({
            tag: 'a',
            class: 'goods-item__image-wrap',
        })
            +el({
                tag: 'img',
                class: 'goods-item__image',
                upload: data.image,
            })
        .goods-item__content
            +el({
                mix: 'goods-item__header',
            })
                +el({
                    tag: 'h3',
                    class: 'goods-item__heading',
                })
                    +el({
                        tag: 'a',
                        class: 'goods-item__heading-link',
                        text: data.heading,
                    })
                +button-w-circle({
                    mod: 'bg-primary',
                    icon: 'cart',
                    mix: 'goods-item__cart',
                })
            +el({
                class: 'goods-item__price',
                text: data.price,
            })
            .goods-item__link-wrap
                +link({
                    text: 'Подробнее',
                    mod: 'primary',
                    mix: 'goods-item__link',
                })
