mixin about-descr(data)
    +el({
        tag: 'section',
        class: 'about-descr',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        .about-descr__wrap
            .about-descr__text
                p.
                    Вот уже долгое время специализированные табачные компании являются нашими крупными оптовыми заказчиками.
                p.
                    Большой выбор и приятные цены нашей фирмы стали реальны, благодаря непосредственному ввозу сырья от ведущих иностранных изготовителей, дилерским контрактам со всеми крупными компаниями — дистрибьюторами в России и собственному производству.
                p.
                    Мы гарантируем быструю и качественную работу. Выбрать оптимальную схему сотрудничества и найти ответы на все волнующие Вас вопросы, всегда готовы специалисты нашей компании.
                p.
                    Мы гарантируем поставку продукции в ранее оговоренные сроки. Полный ассортимент табачной продукции все время находится на нашем складе. Мы готовы загружать и отправлять товар покупателю в самые сжатые сроки.
                p.
                    Представительства в крупных городах Крыма и РФ даёт возможность для быстрой доставки заказа в регионы.
            .about-descr__image-wrap
                +el({
                    tag: 'img',
                    class: 'about-descr__image',
                    image: 'about-descr.jpg',
                })
