mixin about-slider(data)
    +el({
        tag: 'section',
        class: 'about-slider',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .about-slider__wrap
            h2.about-slider__heading
                | Ценности компании
            .about-slider__content
                .about-slider__text-slider.js-about-slider-text.swiper-container
                    .swiper-wrapper
                        each item in aboutSlider.text
                            .about-slider__text-slide.swiper-slide
                                h3.about-slider__subheading !{item.heading}
                                .about-slider__text !{item.text}
                .about-slider__nav
                    +control({
                        tag: 'button',
                        mod: ['prev', 'secondary'],
                        js: 'about-slider-prev',
                    })
                    +control({
                        tag: 'button',
                        mod: ['next', 'secondary'],
                        js: 'about-slider-next',
                    })
                    //- .about-slider__bullet.js-about-slider-bullet.swiper-pagination
                .about-slider__image-slider.js-about-slider-image.swiper-container
                    .swiper-wrapper
                        each item in aboutSlider.image
                            .about-slider__image-slide.swiper-slide
                                +el({
                                    tag: 'img',
                                    class: 'about-slider__image',
                                    image: item
                                })
