-
    var aboutFeatures = [
        {
            number: '45',
            descr: 'млрд сигарет в год',
            text: 'Производственная мощность сигаретного цеха'
        },
        {
            number: '1,7%',
            descr: 'доля продаж',
            text: 'Доля российского табачного рынка'
        },
        {
            number: '76',
            descr: 'в России',
            text: 'Представительства и подразделения в России'
        },
        {
            number: '2',
            descr: 'за рубежом',
            text: 'Представительства и подразделения за рубежом'
        },
        {
            number: '12',
            descr: 'наименований',
            text: 'Ассортимент табачных изделий'
        },
        {
            number: '47<span class="items-w-number__unit">т</span>',
            descr: 'табачного сырья',
            text: 'Производственная мощность табачного цеха'
        },
        {
            number: '500',
            descr: 'человек',
            text: 'Постоянный штат специалистов',
        },
        {
            number: '210',
            descr: 'гектаров',
            text: 'Площадь производственного комплекса компании',
        },
    ]

-
    var aboutSlider = {
        text: [
            {
                heading: 'Качество и технологичность',
                text: 'Высокотехнологичное оборудование оснащенное Высокотехнологичное оборудование оснащенное Высокотехнологичное оборудование оснащенное  системой компьютерного управления, позволяет полностью контролировать процесс производства. Наши специалисты контролируют каждую стадию производства от момента закупки сырья до поставки высококачественной продукции.'
            },
            {
                heading: 'Постоянный штат специалистов',
                text: 'Высокотехнологичное оборудование оснащенное системой компьютерного управления, позволяет полностью контролировать процесс производства. Наши специалисты контролируют каждую стадию производства от момента закупки сырья до поставки высококачественной продукции.'
            },
            {
                heading: 'Ассортимент табачных изделий',
                text: 'Высокотехнологичное оборудование оснащенное системой компьютерного управления, позволяет полностью контролировать процесс производства. Наши специалисты контролируют каждую стадию производства от момента закупки сырья до поставки высококачественной продукции.'
            },
            {
                heading: 'Качество и технологичность',
                text: 'Высокотехнологичное оборудование оснащенное Высокотехнологичное оборудование оснащенное Высокотехнологичное оборудование оснащенное  системой компьютерного управления, позволяет полностью контролировать процесс производства. Наши специалисты контролируют каждую стадию производства от момента закупки сырья до поставки высококачественной продукции.'
            },
            {
                heading: 'Постоянный штат специалистов',
                text: 'Высокотехнологичное оборудование оснащенное системой компьютерного управления, позволяет полностью контролировать процесс производства. Наши специалисты контролируют каждую стадию производства от момента закупки сырья до поставки высококачественной продукции.'
            },
            {
                heading: 'Ассортимент табачных изделий',
                text: 'Высокотехнологичное оборудование оснащенное системой компьютерного управления, позволяет полностью контролировать процесс производства. Наши специалисты контролируют каждую стадию производства от момента закупки сырья до поставки высококачественной продукции.'
            },
            {
                heading: 'Качество и технологичность',
                text: 'Высокотехнологичное оборудование оснащенное Высокотехнологичное оборудование оснащенное Высокотехнологичное оборудование оснащенное  системой компьютерного управления, позволяет полностью контролировать процесс производства. Наши специалисты контролируют каждую стадию производства от момента закупки сырья до поставки высококачественной продукции.'
            },
            {
                heading: 'Постоянный штат специалистов',
                text: 'Высокотехнологичное оборудование оснащенное системой компьютерного управления, позволяет полностью контролировать процесс производства. Наши специалисты контролируют каждую стадию производства от момента закупки сырья до поставки высококачественной продукции.'
            },
            {
                heading: 'Ассортимент табачных изделий',
                text: 'Высокотехнологичное оборудование оснащенное системой компьютерного управления, позволяет полностью контролировать процесс производства. Наши специалисты контролируют каждую стадию производства от момента закупки сырья до поставки высококачественной продукции.'
            },
            {
                heading: 'Качество и технологичность',
                text: 'Высокотехнологичное оборудование оснащенное Высокотехнологичное оборудование оснащенное Высокотехнологичное оборудование оснащенное  системой компьютерного управления, позволяет полностью контролировать процесс производства. Наши специалисты контролируют каждую стадию производства от момента закупки сырья до поставки высококачественной продукции.'
            },
            {
                heading: 'Постоянный штат специалистов',
                text: 'Высокотехнологичное оборудование оснащенное системой компьютерного управления, позволяет полностью контролировать процесс производства. Наши специалисты контролируют каждую стадию производства от момента закупки сырья до поставки высококачественной продукции.'
            },
            {
                heading: 'Ассортимент табачных изделий',
                text: 'Высокотехнологичное оборудование оснащенное системой компьютерного управления, позволяет полностью контролировать процесс производства. Наши специалисты контролируют каждую стадию производства от момента закупки сырья до поставки высококачественной продукции.'
            },
        ],

        image: [
            'slide01.jpg',
            'slide02.jpg',
            'slide03.jpg',
            'slide01.jpg',
            'slide02.jpg',
            'slide03.jpg',
            'slide01.jpg',
            'slide02.jpg',
            'slide03.jpg',
            'slide01.jpg',
            'slide02.jpg',
            'slide03.jpg'
        ]
    }
