-
    var news = [
        {
            image: 'news01.jpg',
            date: '17 апреля 2019',
            heading: 'Вальцованная жилк rty retyrety rtyryrtyrtа',
            text: 'В  табачной промышленности предварительная обработка табачного сырья заключается в отделении листовой',
        },
        {
            image: 'news02.jpg',
            date: '17 апреля 2019',
            heading: 'Взорванная жилка',
            text: 'До 1993 года в России не было ограничений на содержание смол и никотина в табачных изделиях. В целях борьбы',
        },
        {
            image: 'news02.jpg',
            date: '17 апреля 2019',
            heading: 'Табачное сырье',
            text: 'Табачное сырье: табачные листья, прошедшие послеуборочную обработку и предназначенные для производства табачных',
        },
    ];
