-
    var certificate = [
        {
            image: 'certificate.jpg',
        },
        {
            image: 'certificate.jpg',
        },
        {
            image: 'certificate.jpg',
        },
        {
            image: 'certificate.jpg',
        },
        {
            image: 'certificate.jpg',
        },
        {
            image: 'certificate.jpg',
        },
    ]
