-
    var tableStore = [
        {
            heading: 'Ялта - ул. Московская 3',
            time: 'c 10:00 - 19:00',
            coords: '[44.498347, 34.170925]',
        },
        {
            heading: 'Керчь - Площадь Ленина',
            time: 'c 10:00 - 19:00',
            coords: '[45.352311, 36.475868]',
        },
        {
            heading: 'Красноперекопск - ул. Калинина 1',
            time: 'c 10:00 - 19:00',
            coords: '[45.955541, 33.791692]',
        },
        {
            heading: 'Черноморское - улица Южная 56-а',
            time: 'пн-сб 9:00 - 17:00<br> вс 9:00 - 15:00',
            coords: '[45.504940, 32.700383]',
        },
        {
            heading: 'Севастополь - ул. Очаковцев 19',
            time: 'c 10:00 - 19:00',
            coords: '[44.606324, 33.519934]',
        },
        {
            heading: 'Краснодар - ул. Октябрьская 77',
            time: 'c 10:00 - 19:00',
            coords: '[45.023883, 38.965485]',
        },
        {
            heading: 'Екатеринбург - ул. Кузнецова д.8',
            time: 'c 14:00-20:00',
            coords: '[56.888313, 60.610832]',
        },
        {
            heading: 'Ярославль - просп. Московский 108',
            time: 'c 10:00 - 19:00',
            coords: '[57.576776, 39.843122]',
        },
        {
            heading: 'Каменск-Уральский проспект Победы 66',
            time: '11:00-19:00<br> пт-сб 11:00-18:00',
            coords: '[56.426950, 61.892818]',
        },
        {
            heading: 'Брест - ул. Советская 85',
            time: 'c 10:00 - 19:00',
            coords: '[52.089095, 23.694593]',
        },
    ];
