-
    var slider = [
        {
            item: {
                image: 'main-slider/main-slider-item01.jpg',
                heading: 'EUROPE classical quality',
                text: '<p>EUROPE classical quality — порадуют любителей насыщенного вкуса натурального табака. Новый дизайн упаковки лишь украсит и улучшит впечатление.</p>',
            },
            button: {
                image: 'main-slider/main-slider-button01.jpg',
                heading: 'EUROPE classical quality',
            },
        },
        {
            item: {
                image: 'main-slider/main-slider-item02.jpg',
                heading: 'VXR Elegant silver',
                text: '<p>EUROPE classical quality — порадуют любителей насыщенного вкуса натурального табака. Новый дизайн упаковки лишь украсит и улучшит впечатление.</p>',
            },
            button: {
                image: 'main-slider/main-slider-button02.jpg',
                heading: 'VXR Elegant silver',
            },
        },
        {
            item: {
                image: 'main-slider/main-slider-item03.jpg',
                heading: 'FANTOM Classic Red',
                text: '<p>EUROPE classical quality — порадуют любителей насыщенного вкуса натурального табака. Новый дизайн упаковки лишь украсит и улучшит впечатление.</p>',
            },
            button: {
                image: 'main-slider/main-slider-button03.jpg',
                heading: 'FANTOM Classic Red',
            },
        },
        {
            item: {
                image: 'main-slider/main-slider-item04.jpg',
                heading: 'DUNE Silver Label',
                text: '<p>EUROPE classical quality — порадуют любителей насыщенного вкуса натурального табака. Новый дизайн упаковки лишь украсит и улучшит впечатление.</p>',
            },
            button: {
                image: 'main-slider/main-slider-button04.jpg',
                heading: 'DUNE Silver Label',
            },
        },
    ]
