-
    var agency = [
        {
            mod: 'main',
            pinMod: 'main',
            main: {
                text: 'Головной офис',
                descr: 'Республика Крым'
            }
        },
        {
            mod: 'moscow',
            text: 'Москва'
        },
        {
            mod: 'peterburg',
            text: 'Санкт-Петербург'
        },
        {
            mod: 'barnaul',
            text: 'Барнаул'
        },
        {
            mod: 'irkutsk',
            text: 'Иркутск'
        },
        {
            mod: 'kazan',
            text: 'Казань'
        },
        {
            mod: 'krasnodar',
            text: 'Краснодар'
        },
        {
            mod: 'neftecamsk',
            text: 'Нефтекамск'
        },
        {
            mod: 'orel',
            text: 'Орёл',
            pinMod: 'text-before',
        },
        {
            mod: 'rostov',
            text: 'Ростов-на-Дону'
        },
    ]

-
    var agencyList1 = [
        {
            text: 'Московская область',
        },
        {
            mod: ['main'],
            text: 'Республика Крым',
            items: ['Бахчисарай', 'Джанкой', 'Евпатория', 'Керчь', 'Красноперекопск', 'Нижнегорский', 'Севастополь', 'Симферополь', 'Судак', 'Феодосия', 'Черноморское', 'Ялта']
        },
        {
            text: 'Алтайский край'
        },
        {
            text: 'Амурская область'
        },
        {
            text: 'Белгородской область'
        },
        {
            text: 'Воронежская область'
        },
        {
            text: 'Иркутская область'
        },
        {
            text: 'Кемеровская область'
        },
    ]

-
    var agencyList2 = [
        {
            text: 'Краснодарский край',
        },
        {
            text: 'Красноярский край'
        },
        {
            text: 'Курская область'
        },
        {
            text: 'Нижегородская область'
        },
        {
            text: 'Новосибирская область',
        },
        {
            text: 'Оренбургская область'
        },
        {
            text: 'Орловская область'
        },
        {
            text: 'Пермский край',
        },
        {
            text: 'Республика Башкортостан',
        },
        {
            text: 'Республика Хакасия',
        },
        {
            text: 'Республика Тыва',
        },
        {
            text: 'Республика Адыгея',
        },
        {
            text: 'Саратовская область',
        },
        {
            text: 'Свердловская область',
        },
        {
            text: 'Ставропольский край',
        },
        {
            text: 'Самарская область',
        },
        {
            text: 'Тверская область',
        },
        {
            text: 'Тюменская область',
        },
        {
            text: 'Томская область',
        },
        {
            text: 'Тульская область',
        },
        {
            text: 'Челябинская область',
        },
        {
            text: 'Ярославская область',
        },
    ]
