-
    var agency = [
        {
            mod: 'main',
            pinMod: 'main',
            main: {
                text: 'Головной офис',
                descr: 'Республика Крым'
            }
        },
        {
            mod: 'moscow',
            text: 'Москва'
        },
        {
            mod: 'peterburg',
            text: 'Санкт-Петербург'
        },
        {
            mod: 'barnaul',
            text: 'Барнаул'
        },
        {
            mod: 'irkutsk',
            text: 'Иркутск'
        },
        {
            mod: 'kazan',
            text: 'Казань'
        },
        {
            mod: 'krasnodar',
            text: 'Краснодар'
        },
        {
            mod: 'neftecamsk',
            text: 'Нефтекамск'
        },
        {
            mod: 'orel',
            text: 'Орёл',
            pinMod: 'text-before',
        },
        {
            mod: 'rostov',
            text: 'Ростов-на-Дону'
        },
    ]
