-
    var features = [
        {
            icon: 'hands',
            heading: 'Лояльное сотрудничество',
            text: '<p>Возможность приобрести табачные изделия, как большой партией, так и&nbsp;сделать заказ на&nbsp;небольшую доставку от&nbsp;1-го блока</p>',
        },
        {
            icon: 'bag',
            heading: 'Ответственность и профессионализм',
            text: '<p>Штат более 500&nbsp;человек. Опытные специалисты гарантируют профессиональный подход к&nbsp;менеджменту и&nbsp;логистике. Заявки клиентов обрабатываются в&nbsp;самые сжатые сроки.</p>',
        },
        {
            icon: 'plant',
            heading: 'Гарантия качества',
            text: '<p>Обязательные этапы обработки: кондиционирование и&nbsp;соусирование, резка и&nbsp;сушка резаного продукта, отделение табачной жилки и&nbsp;пыли, ароматизация, хранение.</p>',
        },
        {
            icon: 'shedule',
            heading: 'Контроль полного производтвеного цикла',
            text: '<p>Выращивание сырья, организация производства и&nbsp;доставка потребителю</p>'
        },
        {
            icon: 'trophy',
            heading: 'Опыт Более 20 лет',
            text: '<p>Предлагаемые компанией бренды представлены на&nbsp;рынке Украины и&nbsp;России</p>',
        },
        {
            icon: 'pack',
            heading: 'Узкая специализация',
            text: '<p>Ассортиментный портфель 12&nbsp;наименований табачных изделий</p>'
        },
    ];
