-
    var goodsItems = [
        {
            image: 'goods01.jpg',
            heading: 'Bandit Анорак «Tag»',
            price: '2300 Р'
        },
        {
            image: 'goods02.jpg',
            heading: 'Маленький кошелёк Bandit бордовый',
            price: '2300 Р'
        },
        {
            image: 'goods03.jpg',
            heading: 'Bandit Джоггеры Твил Черные',
            price: '2300 Р'
        },
        {
            image: 'goods04.jpg',
            heading: 'Bandit Анорак «Tag»',
            price: '2300 Р'
        },
        {
            image: 'goods05.jpg',
            heading: 'Маленький кошелёк Bandit бордовый',
            price: '2300 Р'
        },
        {
            image: 'goods06.jpg',
            heading: 'Маленький кошелёк Bandit бордовый',
            price: '2300 Р'
        },
    ];
