-
    var catalogNav = [
        {
            text: 'DUNE Silver Label'
        },
        {
            text: 'DUNE Red Label'
        },
        {
            text: 'DUNE Blue Label',
        },
        {
            text: 'EUROPE classical quality',
            mix: 'active',
        },
        {
            text: 'FANTOM Classic Blue',
        },
        {
            text: 'FANTOM Classic Red',
        },
        {
            text: 'VXR Elegant Red',
        },
        {
            text: 'VXR Elegant Silver',
        },
        {
            text: 'Біле Сонце класичні',
        },
        {
            text: 'Біле Сонце оригінальні',
        },
    ]
