-
    var mainNav = [
        {
            text: 'О компании',
        },
        {
            text: 'Продукция',
        },
        {
            text: 'Производство',
            href: 'page-delivery.html',
        },
        {
            text: 'FAQ',
            href: 'page-contacts.html',
        },
        {
            text: 'Сертификаты',
            href: 'page-contacts.html',
        },
        {
            text: 'Статьи',
            href: 'page-contacts.html',
        },
        {
            text: 'Контакты',
            href: 'page-contacts.html',
        },
    ];
