mixin button-close(data)
    +el({
        tag: 'button',
        class: 'button-close',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
        ariaLabel: 'Закрыть окно',
    })&attributes(attributes)
        +el({
            tag: 'span',
            class: 'button-close__icon',
        })
