mixin about-intro(data)
    +el({
        tag: 'section',
        class: 'about-intro',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        .about-intro__wrap
            .about-intro__column.about-intro__column--image
                figure.about-intro__image-wrap
                    +el({
                        tag: 'img',
                        class: 'about-intro__image',
                        image: 'about-intro.jpg',
                    })
            .about-intro__column.about-intro__column--text
                p.
                    Более 15 лет предлагаемые компанией бренды представлены на рынке России и Украины, а также с недавнего времени компания открыла представительства в Европе, а именно в Швейцарии и Франции.
                p.
                    В торговых точках представлен самый широкий в регионе ассортимент табачной продукции. Наша фирма предоставляет возможность приобрести табачные изделия, как большой партией, так и сделать заказ на небольшую доставку от 1-го блока.
                p.
                    Основные плюсы нашей компании – наличие широкого ассортимента  качественного товара по приемлемым ценам и предоставление комфортных транспортных услуг. Опытные специалисты гарантируют профессиональный подход
                    к менеджменту и логистике. Мы гарантируем индивидуальный подход к каждому заказчику.
