mixin card(data)
    +el({
        class: 'card',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        if data.heading
            +el({
                tag: 'h3',
                class: 'card__heading',
                text: data.heading,
            })
        if data.text
            +el({
                tag: 'p',
                class: 'card__text',
                text: data.text,
            })
        block
