mixin agency-w-list(data)
    +el({
        tag: data.tag,
        class: 'agency-w-list',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        .agency-w-list__wrap
            .agency-w-list__heading Представительства
            .agency-w-list__list-wrap.js-more-content(data-more='1')
                +agency-list({
                    mix: 'agency-w-list__list agency-w-list__list--one',
                    items: agencyList1,
                })
                .agency-w-list__list-two-wrap
                    +agency-list({
                        mix: 'agency-w-list__list agency-w-list__list--two',
                        items: agencyList2,
                    })
                    .agency.agency-w-list__agency
                        .agency__map
                            +el({
                                tag: 'picture',
                                class: 'agency__picture',
                            })
                                source(media="(min-width: 768px)" srcset='./assets/images/map-outline-1166@1x.webp 1x, ./assets/images/map-outline-1166@2x.webp 2x' type='image/webp')
                                source(media="(min-width: 768px)" srcset='./assets/images/map-outline-1166@1x.png 1x, ./assets/images/map-outline-1166@2x.png 2x')
                                source(media="(min-width: 420px)" srcset='./assets/images/map-outline-768@1x.webp 1x, ./assets/images/map-outline-768@2x.webp 2x' type='image/webp')
                                source(media="(min-width: 420px)" srcset='./assets/images/map-outline-768@1x.png 1x, ./assets/images/map-outline-768@2x.png 2x')
                                source(srcset='./assets/images/map-outline-420@1x.webp 1x, ./assets/images/map-outline-420@2x.webp 2x' type='image/webp')
                                img.agency__image(src='./assets/images/map-outline-420@1x.png' srcset='./assets/images/map-outline-420@2x.png 2x' alt='Карта России')
                            +el({
                                tag: 'ul',
                                class: 'agency__list',
                            })
                                each item in agency
                                    +el({
                                        tag: 'li',
                                        class: 'agency__item',
                                        mod: item.mod,
                                    })
                                        +pin-item({
                                            text: item.text,
                                            mod: item.pinMod,
                                            main: item.main,
                                        })

            +button({
                mix: 'agency-w-list__button',
                mod: ['size-md', 'shadow'],
                text: 'Смотреть больше',
                js: 'more-button-mob'
            })
