mixin product-image(data)
    +el({
        class: 'product-image',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            tag: 'img',
            class: 'product-image__image',
            image: 'europe-classical-quality.jpg'
        })
