body,
html {
  width: 100%;
  min-width: width(small);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: color(white);
  font-family: font(primary);
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  color: color(black);
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  hyphenate-limit-chars: 6 4 4;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// * {
//   outline: none;
// }

// ::-webkit-scrollbar { /* for Mac OS X support */
//   width: 0;
// }

@include respond-to(medium) {
  body {
    font-size: 15px;
  }
}

@include respond-to(large) {
  body {
    font-size: 16px;
  }
}
